@import "basic.less";

.service {
	#header {
		position: absolute;
		width: 100%;
	}
	#content {
		.header {
			background-image: url(https://dummyimage.com/1920x1080/eee/ddd);
			&.black {
				.title, #breadcrumbs li {
					color: #000;
				}
			}
		}
		.special-services {
			padding: 100px 0;
			.title {
				margin-bottom: 5px;
				font-size: 16px;
				color: @branding-color;
			}
			.subtitle {
				margin: 0;
				font-size: 18px;
				font-weight: normal;
				text-transform: uppercase;
			}
			p{
				margin-bottom: 30px;
			}
		}
		.special-offer {
			padding: 60px 0;
			.promo-info {
				float: left;
			}
			.promo-button {
				float: right;
				margin: 0;
			}
			.title {
				margin-bottom: 10px;
				font-size: 18px;
				letter-spacing: 1px;
				em {
					font-style: normal;
					color: @branding-color ;
				}
			}
			.desc {
				color: @gray-text;
			}

		}
	}

	.feature,.services,.pricing {
		padding: 100px 0;
	}

	.services {
		.row {
			> div {
				padding: 50px;
				transition: all 0.2s linear;
				&:hover {
					background: #000;
					color: #fff;
					i {
						color: @branding-color;
					}
				}
			}
		}
	}


	.big-dot {
		li {		
			float: left;
			margin-bottom: 10px;
			width: 50%;
			line-height: 1.5;
			&:before {
				font-family: "Font Awesome 5 Free";
				content: "\f111";
				color: #757575;
				padding-right: 10px;
			}
		}
	}
}
