
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */