/* 
    Main-color: #ca9b52; 
    Light-color: #ffffb0;
    Dark-color: #ae8d5b


*/
* {
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

#body {
    margin-top: 40px;
}

#body>section {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}

li {
    display: inline-block;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

h2,
h3,
h4 {
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
    line-height: 1.5;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1rem;
}

hr {
    margin: 20px 0 60px;
    height: 2px;
    color: #eee;
    background-color: #eee;
    border: none;
}

p {
    margin: 0;
    line-height: 1.5;
    color: #555;
}

.container {
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.clearfiix::after,
.row::after {
    content: "";
    display: block;
    clear: both;
}

.gray-text {
    color: #999;
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 1px;
}

.shadow {
    box-shadow: 0 2px 6px #ddd;
    border-radius: 7px;
    transition: box-shadow 0.2s;
}

.shadow:hover {
    box-shadow: 0 2px 6px #aaa;
    border-radius: 7px;
}

.tag {
    margin-top: 10px;
}

.tag li {
    border-radius: 4px;
    padding: 1px 5px;
    font-size: 0.6rem;
    font-weight: bold;
    color: #fff;
    background: #cbae82;
    letter-spacing: 2px;
    transition: background .2s;
}

.tag li:hover {
    background: #ae8d5b;
    cursor: default;
}

/* float*/
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-4,
.col-6,
.col-8,
.col-12 {
    float: left;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66%;
}

.col-12 {
    width: 100%;
}

/* #header */
#header {
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #ca9b52;
    background-image: url("../image/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.userid {
    display: block;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
}

/* #body */
#body .btn-none,
#body .btn-none:hover,
#body .btn-none:active {
    transform: none;
    filter: opacity(0.2);
}

/* section intro */
#intro .profile {
    padding: 10px 10px 0;
}

#intro .profile-img {
    text-align: center;
    margin-top: 10px;
}

#intro .profile-img img {
    border: 4px solid #eee;
    border-radius: 50%;
    width: 100%;
}

#intro .name {
    margin-top: 5px;
}

#intro .name h4 {
    text-align: left;
}

.iconfonts {
    margin: 0 auto;
    padding: 30px 0 20px;
    text-align: center;
}

.iconfonts li {
    display: inline-block;
    border-radius: 10px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: transform 0.2s;
}

.iconfonts li:hover {
    border-radius: 10px;
    transform: scale(1.1);
}

.iconfonts li:active {
    transform: scale(1.2);
}

.iconfonts .github {
    background: #24292E;
}

.iconfonts .fb {
    background: #1876F2;
}

.iconfonts .ig {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.iconfonts i {
    font-size: 1.3rem;
}

.iconfonts a {
    color: #fff;
}


/* section portfolio */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.title {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    padding-top: 30px;
}

.title h3 {
    margin-bottom: 10px;
}

.thumbnail {
    position: relative;
    margin: 0 10px 20px;
}


.thumbnail,
.thumbnail img {
    width: 320px;
    height: 200px;
}

.thumbnail img {
    border-radius: 6px;
    object-fit: cover;
    object-position: 50% 0;
    filter: grayscale(100%);
}


.thumbnail a {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .7));
    transition: all 0.3s;
}

.thumbnail a:hover {
    font-size: 1.1rem;
}

.thumbnail a:hover+img {
    filter: none;
}

.thumbnail p {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

@media (min-width:768px) {
    #body>section {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container {
        max-width: 700px;
    }

    #intro>p {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 1px;
    }

    #intro .profile-img {
        text-align: right;
    }

    #intro .profile-img img {
        max-width: 83px;
    }

    #intro .name {
        margin-top: 15px;
    }

    #intro .profile {
        padding: 40px 40px 0;
    }

    .title {
        max-width: 80%;
    }

    .thumbnail {
        margin-bottom: 50px;
    }

    .thumbnail,
    .thumbnail img {
        width: 416px;
        height: 260px;
    }

    .thumbnail:last-child {
        margin-bottom: 30px;
    }
}

@media (min-width:992px) {
    .container {
        width: 100%;
        max-width: 900px;
    }

    .thumbnail {
        margin: 0 20px 40px;
    }

    .thumbnail,
    .thumbnail img {
        width: 360px;
        height: 270px;
    }

    .thumbnail a {
        opacity: .7;
    }

    .thumbnail a:hover {
        opacity: 1;
    }

    .thumbnail:last-child {
        margin-bottom: 50px;
    }
}
